argon2-cffi==19.1.0
django==2.2.10
django-authtools==1.7.0
django-braces==1.14.0
django-constance[database]==2.6.0
django-crispy-forms==1.7.2
django-debug-toolbar==2.2
django-environ==0.4.5
django-grappelli==2.13.4
django-phonenumber-field
django-tables2
pip-tools==4.2.0
pipdeptree==0.13.2
phonenumbers
psycopg2
setuptools==41.4.0
Werkzeug==0.16
wheel==0.33.6
