{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{ block.super }}Liste der Kinder{% endblock %}

{% block table %}

    <div>
        <table>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Birth date</th>
            <th>Birth place</th>
            <th>Care time</th>
            <th>Kita</th>
        </tr>
        {% for child in child_list %}
        <tr>
            <td>{{ child.first_name }}</td>>
            <td>{{ child.last_name }}</td>>
            <td>{{ child.birth_date }}</td>>
            <td>{{ child.birth_place }}</td>>
            <td>{{ child.care_time }}</td>>
            <td>{{ child.kita }}</td>>
        </tr>
        {% endfor %}
        </table>
    </div>

{% endblock table %}